/* @font-face {
    font-family: 'BobbyJonesSoft';
    src: url(/public/static/fonts/Bobby-Jones/BobbyJonesSoft.otf) format('woff'), /* Pretty Modern Browsers */
        /* url(/public/static/fonts/Bobby-Jones/Bobby\ Rough\ Soft\ Outline.ttf) format("truetype"), Safari, Android, iOS */
/* } */
body {
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    /* overflow-x: hidden; */
    max-width: 100vw;
    position: relative;
    background-color: #fff;
}


.MuiFormControl-root .MuiInputBase-root input {
    background-color: #fff;
    overflow: hidden;
    border-radius: 5px;
}
